<!DOCTYPE html>
<html  lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Shane</title>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/console.css}" rel="stylesheet" type="text/css" href="css/console.css" />
</head>
<body>

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="base">
            <div class="mr_moudle_head clearfixs">
                <div class="mr_head_l">
                    <div class="mr_title">
                        <span class="mr_title_l"></span>
                        <span class="mr_title_c">基本信息</span>
                        <span class="mr_title_r" style="width:230px;"></span>
                    </div>
                </div>
            </div>

            <div class="base_form">
                <form class="form-horizontal" role="form" id="base_info_form">
                    <input type="hidden" class="form-control" name="id">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">名字</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="name" placeholder="请输入名字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">头像</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="head" placeholder="请输入头像地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">公司</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="company"  placeholder="请输入公司">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">职位</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="job"  placeholder="请输入职位">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">性别</label>
                        <div class="col-sm-7">
                            <label class="radio-inline">
                                <input type="radio" name="sex"  value="男" checked>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex"   value="女">女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">出生日期</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control" name="age"  placeholder="请选择日期">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">学历</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="education" >
                                <option value="初中">初中</option>
                                <option value="高中">高中</option>
                                <option value="大专">大专</option>
                                <option value="本科">本科</option>
                                <option value="硕士">硕士</option>
                                <option value="博士">博士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">工作年限</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="workingLife" >
                                <option value="1年">1年</option>
                                <option value="2年">2年</option>
                                <option value="3年">3年</option>
                                <option value="4年">4年</option>
                                <option value="5年">5年</option>
                                <option value="6年">6年</option>
                                <option value="7年">7年</option>
                                <option value="8年">8年</option>
                                <option value="9年">9年</option>
                                <option value="10年">10年</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">城市</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="city"  placeholder="请输入城市">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">手机</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="phone"  placeholder="请输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">邮箱</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="email"  placeholder="请输入邮箱">
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <a id="base_btn" class="btn btn-primary">保存</a>
                    </div>
                </form>
            </div>

        </div>


        <div class="desc">
            <div class="mr_moudle_head clearfixs">
                <div class="mr_head_l">
                    <div class="mr_title">
                        <span class="mr_title_l"></span>
                        <span class="mr_title_c">自我描述</span>
                        <span class="mr_title_r" style="width: 230px"></span>
                    </div>
                </div>
            </div>

            <div class="desc_form">
                <form class="form-horizontal" role="form" id="desc_info_form">
                    <input type="hidden" class="form-control" name="id">
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">自我描述</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="4" name="descContent"  style="resize:none" ></textarea>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <a id="desc_btn" type="submit" class="btn btn-primary">保存</a>
                    </div>
                </form>
            </div>
        </div>


        <div class="work">
            <div class="mr_moudle_head clearfixs">
                <div class="mr_head_l">
                    <div class="mr_title">
                        <span class="mr_title_l"></span>
                        <span class="mr_title_c">工作经历</span>
                        <span class="mr_title_r"></span>
                        <a href="#" data-toggle="modal" data-target="#workModal" class="work_add">
                            <span class="fa fa-edit">添加</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="work_form" id="work_form">
                <form class="form-horizontal" role="form">
                    <input type="hidden" class="form-control" name="id">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">公司</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="company" placeholder="请输入公司">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">职位</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="job"  placeholder="请输入职位">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">在职时间</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="startDate" >
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="endDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">工作描述</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="4" name="workContent" style="resize:none" ></textarea>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <a href="#" class="work_btn btn btn-primary">保存</a>
                        <a href="#"  style="margin-left: 50px" class="work_del_btn btn btn-warning">删除</a>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="workLabel" aria-hidden="true">
                <div class="modal-dialog" style="top: 20%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="workLabel">工作经历</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="work_add_form">
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">公司</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="company" placeholder="请输入公司">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">职位</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="job"  placeholder="请输入职位">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">在职时间</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" name="startDate" >
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" name="endDate" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">工作描述</label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" rows="4" name="workContent"  style="resize:none" ></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#"  class="btn btn-default" data-dismiss="modal">关闭</a>
                            <a href="#" id="work_add_btn" class="btn btn-primary">保存</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="education">
            <div class="mr_moudle_head clearfixs">
                <div class="mr_head_l">
                    <div class="mr_title">
                        <span class="mr_title_l"></span>
                        <span class="mr_title_c">教育经历</span>
                        <span class="mr_title_r" style="width: 230px"></span>
                    </div>
                </div>
            </div>

            <div class="education_form">
                <form class="form-horizontal" role="form" id="education_info_form">
                    <input type="hidden" class="form-control" name="id">
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">学校</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="organization"  placeholder="请输入学校">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">专业</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="major" placeholder="请输入专业">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">就读时间</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="startDate">
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="endDate">
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <a href="#" id="education_btn" class="btn btn-primary">保存</a>
                    </div>
                </form>
            </div>
        </div>


        <div class="project">
            <div class="mr_moudle_head clearfixs">
                <div class="mr_head_l">
                    <div class="mr_title">
                        <span class="mr_title_l"></span>
                        <span class="mr_title_c">项目经验</span>
                        <span class="mr_title_r"></span>
                        <a href="#" data-toggle="modal" data-target="#projectModal" class="project_add">
                            <span class="fa fa-edit">添加</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project_form" id="project_form">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">名称</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="projectName"  placeholder="请输入项目名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">链接</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="url"  placeholder="请输入项目链接">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">项目时间</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="startDate" >
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="endDate" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目描述</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="4" name="projectContent"  style="resize:none" ></textarea>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <a href="#" class="project_btn btn btn-primary">保存</a>
                        <a href="#" class="project_del_btn btn btn-default" style="margin-left: 50px" data-dismiss="modal">删除</a>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectLabel" aria-hidden="true">
                <div class="modal-dialog" style="top: 20%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="projectLabel">项目经验</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="project_add_form">
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">名称</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="projectName"  placeholder="请输入项目名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">链接</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="url"  placeholder="请输入项目链接">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">项目时间</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" name="startDate" >
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" name="endDate" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">项目描述</label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" rows="4" name="projectContent"  style="resize:none" ></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                            <a href="#" id="project_add_btn" class="btn btn-primary">保存</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="skills">
            <div class="mr_moudle_head clearfixs">
                <div class="mr_head_l">
                    <div class="mr_title">
                        <span class="mr_title_l"></span>
                        <span class="mr_title_c">技能评价</span>
                        <span class="mr_title_r"></span>
                        <a href="#" data-toggle="modal" data-target="#skillsModal" class="project_add">
                            <span class="fa fa-edit">添加</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="skill_form" id="skill_form">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">技能名称</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="skillsName"  placeholder="请输入技能名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">掌握程度</label>
                        <div class="col-sm-7">
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-sm-10">
                                    <div class="progress">
                                        <div class="progress_bg" style="height:20px; border: 1px solid #ddd; overflow: hidden;">
                                            <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                                            <input type="text"  class="form-control" value="60" name="grade"  >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 progress_text" style="text-align: center;">掌握</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <button type="" class="btn btn-primary">保存</button>
                        <button type="" style="margin-left: 50px" class="btn btn-warning">删除</button>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="skillsModal" tabindex="-1" role="dialog" aria-labelledby="skillLabel" aria-hidden="true">
                <div class="modal-dialog" style="top: 20%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="skillLabel">技能评价</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="skill_add_form">
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">技能名称</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="skillsName"  placeholder="请输入技能名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label">掌握程度</label>
                                    <div class="col-sm-7">
                                        <div class="row" style="margin-top: 5px;">
                                            <div class="col-sm-10">
                                                <div class="progress">
                                                    <div class="progress_bg" style="height:20px; border: 1px solid #ddd; overflow: hidden;">
                                                        <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                                                        <input type="text"  class="form-control grade" value="60" name="grade">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 progress_text" style="text-align: center;">掌握</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                            <a href="#" id="skill_add_btn" class="btn btn-primary">保存</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>

    <a href="#" id="title_a" data-toggle="modal" data-target="#title_model"></a>
    <div class="modal fade" id="title_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="top: 20%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <!--<h4 class="modal-title" id="myModalLabel">工作经历</h4>-->
                </div>
                <div class="modal-body" style="text-align: center">
                    <p id="title_content" style="font-size: 18px">操作成功</p>
                </div>
                <div class="modal-footer">
                    <button type="" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="work_template" style="display: none">
        <form class="form-horizontal" role="form" style="margin-bottom: 40px;">
            <input type="hidden" class="form-control" name="id">
            <div class="form-group">
                <label  class="col-sm-3 control-label">公司</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="company" placeholder="请输入公司">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">职位</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="job"  placeholder="请输入职位">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">在职时间</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="startDate" >
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="endDate">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">工作描述</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="4" name="workContent" style="resize:none" ></textarea>
                </div>
            </div>
            <div class="form-group" style="text-align: center">
                <a href="#" class="work_btn btn btn-primary">保存</a>
                <a href="#"  style="margin-left: 50px" class="work_del_btn btn btn-warning">删除</a>
            </div>
        </form>
    </div>

    <div id="project_template" style="display: none">
        <form class="form-horizontal" role="form">
            <input type="hidden" class="form-control" name="id">
            <div class="form-group">
                <label  class="col-sm-3 control-label">名称</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="projectName" placeholder="请输入项目名称">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">链接</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="url" placeholder="请输入项目链接">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">项目时间</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="startDate">
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="endDate" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">项目描述</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="4" name="projectContent" style="resize:none" ></textarea>
                </div>
            </div>
            <div class="form-group" style="text-align: center">
                <a href="#" class="project_btn btn btn-primary">保存</a>
                <a href="#" class="project_del_btn btn btn-default" style="margin-left: 50px" data-dismiss="modal">删除</a>
            </div>
        </form>
    </div>

    <div id="skill_template" style="display: none">
        <form class="form-horizontal" role="form">
            <input type="hidden" class="form-control" name="id">
            <div class="form-group">
                <label  class="col-sm-3 control-label">技能名称</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="skillsName"  placeholder="请输入技能名称">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-3 control-label">掌握程度</label>
                <div class="col-sm-7">
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-sm-10">
                            <div class="progress">
                                <div class="progress_bg" style="height:20px; border: 1px solid #ddd; overflow: hidden;">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                                    <input type="text"  class="form-control" value="60" name="grade"  >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 progress_text" style="text-align: center;">掌握</div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="text-align: center">
                <a href="#" class="skill_btn btn btn-primary">保存</a>
                <a href="#" style="margin-left: 50px" class="skill_del_btn btn btn-warning">删除</a>
            </div>
        </form>
    </div>


    <script type="text/javascript" th:src="@{/js/console.js}" src="js/console.js" ></script>
</body>
</html>