<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Shane</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
        <link href="fonts/Stroke-Gap-Icons-Webfont/style.css" th:href="@{/fonts/Stroke-Gap-Icons-Webfont/style.css}" rel="stylesheet" type="text/css" />

        <!-- components -->
        <link href="vendor/bootstrap/dist/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link href="vendor/owl-carousel/owl-carousel/owl.carousel.css" th:href="@{/vendor/owl-carousel/owl-carousel/owl.carousel.css}" rel="stylesheet" type="text/css" />
        <link href="vendor/slider-pro/dist/css/slider-pro.min.css" th:href="@{/vendor/slider-pro/dist/css/slider-pro.min.css}" rel="stylesheet" type="text/css" />
        <link href="vendor/slick-carousel/slick/slick.css" th:href="@{/vendor/slick-carousel/slick/slick.css}" rel="stylesheet" type="text/css" />
        <link href="vendor/animate.css/animate.min.css" th:href="@{/vendor/animate.css/animate.min.css}" rel="stylesheet" type="text/css" />

        <link href="css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
        <link href="css/resume.css" th:href="@{/css/resume.css}" rel="stylesheet" type="text/css" />

    </head>
    <body data-scrolling-animations="true">

        <div id="page-preloader"><span class="spinner"></span></div>

        <!-- ========================== -->
        <!-- Navigation -->
        <!-- ========================== -->
        <header class="header scrolling-header">
            <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container relative-nav-container">
                    <a class="toggle-button visible-xs-block" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-navicon"></i>
                    </a>
                    <a class="navbar-brand scroll" href="home.html">
                        <!--<img class="scroll-logo hidden-xs" src="img/logo-dark.png" alt="logo" />-->
                        <!--<img class="scroll-logo visible-xs-block" src="img/logo-free.png" alt="logo" />-->
                        <!--<b>Shane</b>-->
                    </a>
                    <div class="navbar-collapse collapse floated" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-with-inside clearfix navbar-right with-border">
                            <li><a href="../index.html">主页</a></li>
                            <li><a href="../resume.html">简历</a></li>
                            <li><a href="../projects.html">项目</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section class="top-header about-header with-bottom-effect transparent-effect dark">
            <div class="bottom-effect"></div>
            <div class="header-container">
                <!--<div class="header-title wow fadeInUp">-->
                    <!--<div class="header-icon"><span class="icon icon-Wheelbarrow"></span></div>-->
                    <!--<div class="title">about us</div>-->
                    <!--<em>Lorem ipsum dolor amet consect</em>-->
                <!--</div>-->
                <div id="mr_mr_head" class="row" style="margin-top: 130px;">
                    <div class="col-md-4  col-sm-4"></div>
                    <div class="col-md-2  col-sm-2">
                        <img th:src="${resume.baseInfo.head}" width="120" height="120" alt="" style="border-radius: 50%" />
                    </div>
                    <div class="col-md-2  col-sm-2 wow fadeInRightBig" data-wow-duration="2s">
                        <div class="mr_p_name  clearfixs">
                            <span class="mr_name" th:text="${resume.baseInfo.name}"></span>
                        </div>
                        <div class="mr_p_info mr_infoed  clearfixs">
                            <div class="info_t">
                                <span class="shenfen">
                                    <i></i>
                                    <span th:text="${resume.baseInfo.job}" /> · <span th:text="${resume.baseInfo.company}"></span>
                                </span>
                            </div>
                            <div class="info_t">
                                <span class="base_info"><i></i>
                                    <span th:text="${resume.baseInfo.sex}" />&nbsp;&nbsp;&nbsp;
                                    <span th:text="${resume.baseInfo.age}" />&nbsp;&nbsp;&nbsp;
                                    <span th:text="${resume.baseInfo.education}" />
                                </span>
                                <span class="job_span">&nbsp;<span th:text="${resume.baseInfo.workingLife}" /></span>
                                <span>&nbsp;&nbsp;&nbsp;<span th:text="${resume.baseInfo.city}" /></span>
                            </div>
                            <div class="info_b">
                                <span class="mobile"><i></i><span th:text="${resume.baseInfo.phone}" /></span>&nbsp;&nbsp;
                                <span class="email"><i></i><span th:text="${resume.baseInfo.email}" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-4"></div>
                </div>
            </div><!--container-->
        </section>


        <section class="steps-section with-icon" style="padding: 10px 0 0 0;">
            <div class="container">
                <div class="section-heading">
                    <div class="section-title">自我描述</div>
                    <div class="section-subtitle">The most difficult thing is to know yourself</div>
                    <div class="design-arrow" style="height: 40px"></div>
                </div>
            </div>
            <div class="container results-container">
                <div class="row">
                    <div class="col-md-3  col-sm-3"></div>
                    <div class="col-md-6  col-sm-6 wow fadeIn" data-wow-duration="2s">
                        <div id="selfDescription">
                            <div class="mr_moudle_content clearfixs">
                                <div th:each="desc : ${resume.selfDescriptionVo.descContent}">
                                    <p th:text="${desc}+'；'"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-3"></div>
                </div>
            </div>
        </section>


        <section class="steps-section with-icon" style="padding: 10px 0 40px 0;">
            <div class="container">
                <div class="section-heading">
                    <div class="section-title">工作经历</div>
                    <div class="section-subtitle">As long as you don’t lose your direction, you won’t lose yourself.</div>
                    <div class="design-arrow" style="height: 40px"></div>
                </div>
            </div>
            <div class="container results-container">
                <div class="row" th:each="work : ${resume.workExperiences}">
                    <div class="col-md-2  col-sm-2"></div>
                    <div class="col-md-8  col-sm-8 wow fadeIn" data-wow-duration="2s" style="padding-right:0px;">
                        <div id="workExperience">
                            <div class="clearfixs">
                                <div class="mr_content_l">
                                    <div class="l2" style="padding-top: 0px;">
                                        <h4 style="margin-bottom: 0px;margin-top: 0px;" th:text="${work.company}"></h4>
                                        <span style="float: left" th:text="${work.job}"></span>
                                    </div>
                                </div>
                                <div class="mr_content_r">
                                    <span><span th:text="${#dates.format(work.startDate, 'yyyy-MM')}"></span> -- <span th:text="${#dates.format(work.endDate, 'yyyy-MM')}"></span></span>
                                </div>
                            </div>

                            <div class="mr_content_m olpf">
                                <p th:text="${work.workContent}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2  col-sm-2"></div>
                </div>
            </div>
        </section>


        <section class="steps-section with-icon" style="padding: 10px 0 40px 0;">
            <div class="container">
                <div class="section-heading">
                    <div class="section-title">教育经历</div>
                    <div class="section-subtitle">The poorest is no talent</div>
                    <div class="design-arrow" style="height: 40px"></div>
                </div>
            </div>
            <div class="container results-container">
                <div class="row">
                    <div class="col-md-3  col-sm-3"></div>
                    <div class="col-md-6  col-sm-6 wow fadeIn" data-wow-duration="2s">
                        <div id="educationalBackground">
                            <div class="mr_content_l">
                                <div class="l2">
                                    <h4 th:text="${resume.educationalExperience.school}"></h4>
                                    <span><span th:text="${resume.educationalExperience.major}"/></span>
                                </div>
                            </div>
                            <div class="mr_content_r">
                                <span><span th:text="${#dates.format(resume.educationalExperience.startDate, 'yyyy')}"></span>年 - <span th:text="${#dates.format(resume.educationalExperience.endDate, 'yyyy')}"></span>年</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  col-sm-3"></div>
                </div>
            </div>
        </section>


        <section class="history-section">
            <div class="container">
                <div class="section-heading">
                    <div class="section-title">项目经验</div>
                    <div class="section-subtitle">Practice constantly and grow</div>
                </div>
            </div>
            <div class="wrap-timeline">
                <div class="container" th:each="project, status : ${resume.projectExperienceVos}">
                    <div th:if="${status.index % 2 == 0}">
                        <div class="row left-row">
                            <div class="round-ico little"></div>
                            <div class="col-md-1 col-sm-1"></div>
                            <div class="col-md-5 col-sm-5 time-item wow slideInLeft" data-wow-duration="2s" >
                                <div th:if="${project.url == ''}">
                                    <div class="date" style="text-transform: none" th:text="${project.projectName}"></div>
                                </div>
                                <div th:if="${project.url != ''}">
                                    <a target="_blank" style="text-decoration-color: #ff6400;" th:href="${project.url}">
                                        <div class="date" style="text-transform: none" th:text="${project.projectName}"></div>
                                    </a>
                                </div>
                                <div class="title"><span th:text="${#dates.format(project.startDate, 'yyyy-MM')}"></span> -- <span th:text="${#dates.format(project.endDate, 'yyyy-MM')}"></span></div>
                                <div style="text-align: left" th:each="content : ${project.projectContent}">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${content}+'。'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${status.index  % 2 == 1}">
                        <div class="row right-row">
                            <div class="round-ico big"></div>
                            <div class="col-md-6 col-sm-6"></div>
                            <div class="col-md-5 col-sm-5 time-item wow fadeInRight" data-wow-duration="2s">
                                <div th:if="${project.url == ''}">
                                    <div class="date" style="text-transform: none" th:text="${project.projectName}"></div>
                                </div>
                                <div th:if="${project.url != ''}">
                                    <a target="_blank" style="text-decoration-color: #ff6400;" th:href="${project.url}">
                                        <div class="date" style="text-transform: none" th:text="${project.projectName}"></div>
                                    </a>
                                </div>
                                <div class="title"><span th:text="${#dates.format(project.startDate, 'yyyy-MM')}"></span> -- <span th:text="${#dates.format(project.endDate, 'yyyy-MM')}"></span></div>
                                <div style="text-align: left" th:each="content : ${project.projectContent}">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${content}+'。'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="steps-section with-icon ">
            <div class="container">
                <div class="section-heading">
                    <div class="section-title">技能评价</div>
                    <div class="section-subtitle">Don't give up and don't give in</div>
                    <div class="design-arrow"></div>
                </div>
            </div>
            <div class="container results-container">
                <div id="skillsAssess row">
                    <div class="col-md-2  col-sm-2"></div>
                    <div class="col-md-8  col-sm-8 wow fadeInUp" data-wow-duration="2s">
                        <div th:each="skill : ${resume.skillEvaluations}">
                            <div class="mr_skill_con">
                                <span class="mr_skill_name" th:title="${skill.skillsName}" th:text="${skill.skillsName}"></span>
                                <span class="mr_skill_plan"  th:attr="data-skillLevel=${skill.grade}">
                                 <em th:style="'width:' + ${skill.grade} + '%'"></em>
                                </span>
                                <span class="mr_skill_level" th:if="${skill.grade <= 20 }">了解</span>
                                <span class="mr_skill_level" th:if="${skill.grade >20 && skill.grade <= 40}">熟悉</span>
                                <span class="mr_skill_level" th:if="${skill.grade >40 && skill.grade <= 60}">掌握</span>
                                <span class="mr_skill_level" th:if="${skill.grade >60 && skill.grade <= 80}">精通</span>
                                <span class="mr_skill_level" th:if="${skill.grade >80 && skill.grade <= 100}">专家</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2  col-sm-2"></div>
                </div>
            </div>
        </section>

        <!-- ========================== -->
        <!-- FOOTER -->
        <!-- ========================== -->
        <footer>
            <section class="social-section dark dark-strong">
                <div class="container dark-content">
                    <div class="tt">I'm Shane - Get in touch</div>
                    <ul class="list-socials">
                        <li><a href="#"><i class="fa fa-weixin"></i></a></li>
                        <li><a href="#"><i class="fa fa-phone"></i></a></li>
                        <li><a href="#"><i class="fa fa-git"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                        <li><a href="#"><i class="fa fa-qq"></i></a></li>
                    </ul>
                </div>
            </section>

            <section class="copyright-section">
                <p>Copyright &copy; 2018.Shane.</p>
            </section>
        </footer>



        <!-- Scripts -->
        <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
        <script src="vendor/jquery-ui/jquery-ui.min.js" th:src="@{/vendor/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}" type="text/javascript"></script>
        <script src="vendor/owl-carousel/owl-carousel/owl.carousel.min.js" th:src="@{/vendor/owl-carousel/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>
        <script src="vendor/waypoints/lib/jquery.waypoints.min.js" th:src="@{/vendor/waypoints/lib/jquery.waypoints.min.js}" type="text/javascript"></script>
        <script src="vendor/slider-pro/dist/js/jquery.sliderPro.min.js" th:src="@{/vendor/slider-pro/dist/js/jquery.sliderPro.min.js}" type="text/javascript"></script>
        <script src="vendor/slick-carousel/slick/slick.min.js" th:src="@{/vendor/slick-carousel/slick/slick.min.js}" type="text/javascript"></script>
        <script src="vendor/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js" th:src="@{/vendor/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js}" type="text/javascript"></script>
        <script src="vendor/wow/dist/wow.min.js" th:src="@{/vendor/wow/dist/wow.min.js}" type="text/javascript"></script>
        <script src="js/modernizr.js" th:src="@{/js/modernizr.js}" type="text/javascript"></script>

        <script src="js/contact.js" th:src="@{/js/contact.js}" type="text/javascript"></script>
        <script src="js/custom.js" th:src="@{/js/custom.js}" type="text/javascript"></script>
        <script type="text/javascript" src="https://www.lagou.com/upload/oss.js"></script>
        <script type="text/javascript" src="js/resume.js" th:src="@{/js/resume.js}"></script>

    </body>
</html>

